[Desktop Entry]
Name=WundergroundPWS Weather Data Provider
Name[ca]=Proveïdor de dades meteorològiques de WundergroundPWS
Name[da]=WundergroundPWS vejrdata-udbyder
Name[de]=WundergroundPWS-Wetterdatenanbieter
Name[el]=WundergroundPWS Πάροχος δεδομένων καιρού
Name[en_GB]=WundergroundPWS Weather Data Provider
Name[es]=Proveedor de datos meteorológicos WundergroundPWS
Name[et]=WundergroundPWS ilmaandmete pakkuja
Name[eu]=WundergroundPWS eguraldi datuen hornitzailea
Name[fi]=WundergroundPWS -säätietojen tarjoaja
Name[gl]=Fornecedor de datos meteorolóxicos WundergroundPWS
Name[he]=ספק מזג האוויר WundergroundPWS
Name[hu]=WundergroundPWS időjárásadat-szolgáltató
Name[is]=WundergroundPWS veðurgagnaþjónusta
Name[it]=Fornitore di dati meteo di WundergroundPWS
Name[ko]=WundergroundPWS 날씨 데이터 공급자
Name[lt]=Orų informacija iš WundergroundPWS
Name[nl]=WundergroundPWS Leverancier van weergegevens
Name[pa]=WundergroundPWS ਮੌਸਮ ਡਾਟਾ ਦੇਣ ਵਾਲਾ
Name[pl]=WundergroundPWS - dostawca danych pogodowych
Name[ru]=Источник данных о погоде WundergroundPWS
Name[sk]=WundergroundPWS poskytovateľ údajov počasia
Name[sl]=Ponudnik podatkov za vreme WundergroundPWS
Name[sv]=WundergroundPWS väderdataleverantör
Name[tr]=WundergroundPWS Hava Durumu Veri Sağlayıcısı
Name[uk]=Засіб надання даних щодо погоди WundergroundPWS
Name[x-test]=xxWundergroundPWS Weather Data Providerxx
Comment=Access to the Wunderground network of personal weather stations
Comment[ca]=Accés al proveïdor de dades meteorològiques de WundergroundPWS
Comment[da]=Adgang til vejrdata-udbyderen WundergroundPWS
Comment[de]=Zugriff auf den Wetterdatenanbieter WundergroundPWS
Comment[el]=Πρόσβαση στον πάροχο δεδομένων καιρού WundergroundPWS
Comment[en_GB]=Access to the weather data provider WundergroundPWS
Comment[es]=Acceso al proveedor de datos meteorológicos WundergroundPWS
Comment[et]=Ilmaandmete pakkuja  WundergroundPWS andmete kasutamine
Comment[eu]=Sarbidea eguraldi datuen hornitzaile honetara: WundergroundPWS
Comment[fi]=Pääsy säätietojen tarjoajaan WundergroundPWS
Comment[gl]=Acceder ao fornecedor de datos meteorolóxicos WundergroundPWS.
Comment[he]=גישה למספק מזג האוויר WundergroundPWS 
Comment[hu]=Hpzzáférés a(z) WundergroundPWS időjárási adataihoz
Comment[is]=Aðgangur að veðurgagnaþjónustunni WundergroundPWS
Comment[it]=Accedi al fornitore di dati meteo di WundergroundPWS
Comment[ko]=날씨 데이터 공급자 WundergroundPWS에 접근
Comment[lt]=Apsilankyti pas orų informacijos teikėją WundergroundPWS
Comment[nl]=Toegang tot de leverancier van weergegevens WundergroundPWS
Comment[pl]=Połącz się z dostawcą danych pogodowych WundergroundPWS
Comment[ru]=Доступ к поставщику данных о погоде WundergroundPWS
Comment[sk]=Prístup k poskytovateľovi údajov počasia WundergroundPWS
Comment[sl]=Dostop do ponudnika podatkov za vreme WundergroundPWS
Comment[sv]=Åtkomst till väderdataleverantören WundergroundPWS
Comment[tr]=Hava durumu verileri sağlayıcısı WundergroundPWS erişimi
Comment[uk]=Доступ до засобу надання даних щодо погоди WundergroundPWS
Comment[x-test]=xxAccess to the weather data provider WundergroundPWSxx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_wundergroundpws
X-KDE-PluginInfo-Name=wundergroundpws
